.content { 
    margin-left:auto; margin-right: auto; text-align: center;
}
.content .signin { 
    box-sizing: border-box;
}
.content label { 
    width: 80px; display: inline-block; 
}
.content input { 
    width: 120px; margin-top: 5px; 
}

.content .join input { 
    width: 70px;  
}

.bo_nick {
    width : 70px; text-align: center;
}
.bo_score {
    width : 70px; text-align: center;
}
.box { 
    box-sizing: border-box; width: 74px; height: 22px; 
    font-size: 11px; padding-left: 2px; vertical-align: middle; 
}
.ei_box { 
    box-sizing: border-box; width:90px; height:50px; float:left; padding:0; 
} 

.ft_box {
    box-sizing: border-box; width:130px; height:50px; float:left; padding:0; margin-left: 150px;
}
.to_box {
    box-sizing: border-box; width:130px; height:50px; float:left; padding:0; margin-left: 200px;
}
.fo_box {
    box-sizing: border-box; width:130px; height:50px; float:left; padding:0; margin-left: 50px;
}        
.fto_box {
    box-sizing: border-box; width:130px; height:50px; float:left; padding:0; margin-left: 300px;
}
.lane > li  { list-style:none; float:left; text-align: center;
    width:20px; height:30px; line-height:20px; text-align:center; ; margin:2px; border:1px solid #dadada; 
} 