.back_co {
    background-color : wheat;
}
.content {width: 900px; margin-left:auto;margin-right:auto;}

/* .content table, */
.content table th,
.content table td {
    border: 1px solid lightgray;
    padding: 5px 10px;
    text-align: center;
}
.content table th { background-color: goldenrod;}

.content table td.title { text-align: center; }
.content table td.text { text-align: left; }

.content table { border-collapse: collapse; width: 100%; }

.content table .sn { width: 45px; }
/* .content table .title { width: auto; } */
.content table .author { width: 79px; }
.content table .created { width: 60px; }
.content table .attached { width: 64px; }

.font08 { font-size:0.8em; }
.font2 { font-size: 2em; }

/* 상세페이지 시작 */
.content div.title { font-size: 2em; }
.content .info { margin-top: 1em; margin-bottom: 1.5em; text-align: right; }
.content .info span { color: gray; }
.content .menu { text-align: center; border-top: 1px solid lightgray; margin-top: 24px; padding: 24px; }
.content .menu button { background-color: lightgray; padding: 10px 15px; border: none; border-radius: 3px; }
/* 끝 */

.space {width: 2em; display: inline-block;}

/* 삭제페이지 시작 */
.notice { width: 450px; margin: auto; color: white; background-color: #333; }
.notice p { padding: 10px 15px; text-align: center; color: yellow; }
.notice p::before { content: "{ "}
.notice p::after { content: " }"}
.notice div { text-align: center; padding: 15px; }
.notice button { background-color: lightgray; padding: 10px 15px; border: none; border-radius: 3px; width: 100px; }
/* 끝 */

/* 글작성 시작 */
.content div.title { font-size: initial; }
.content form textarea { width: 100%; margin: initial; }
/* label에 width */
.content div.title label { width: 90px; display: inline-block; }
.content div.title input { width: 800px; padding: 5px; }
/* 끝 */