/* div, a { border: 1px solid lightgrey; } */
body { background-image: url("../img/math.jpg")
}
.calc { 
    width:288px; height:460px; margin:auto; background-color: lightgray; border-radius:5px; padding-top:5px;
} 
ul {
    padding: 0;
    list-style: none;
  }
  
  .calc::after {
    content: "";
    display: block;
    clear: both;
  }
  
  .calc section {
    float: left;
  }
  
  .calc section .disp_Expr {
    height: 30px;
    padding: 10px 0 0 10px;
    font-size: 18px;
  }
  
  .calc section .disp_Rslt {
    height: 40px;
    padding: 10px 0 10px 10px;
    font-size: 20px;
  }
  
  .calc section .func ul,
  .calc section .btns ul {
    margin: 0;
  }
  
  .calc section .func ul::after,
  .calc section .btns ul::after {
    content: "";
    display: block;
    clear: both;
  }
  
  .calc section .func ul li,
  .calc section .btns ul li {
    float: left;
  }
  
  .calc section .func ul li a,
  .calc section .btns ul li a {
    display: table-cell;
    width: 48px;
    height: 48px;
    border: 1px solid lightgray;
    text-align: center;
    vertical-align: middle;
  }
  
  .calc section .func ul li a button,
  .calc section .btns ul li a button {
    width: 70px;
    height: 70px;
    font-size: 30px;
  }
  .calc section .btns ul li a button:hover {
    background-color: darkgoldenrod ;
  }